<div class="displayPage" *ngIf="products && products[0]">
  <div>
    <img class="displayImg" src="{{ products[0].productImgLink }}" />
  </div>
  <div class="displayInner" *ngFor="let product of products">
    <h2>
      <a href="{{ product.productLink }}">{{ product.productName }}</a>
    </h2>
    <div>
      <a href="{{ product.productLink }}">{{ product.productCode }}</a>
    </div>
    <div>
      <a [routerLink]="['/products', product.productBrand]">{{
        product.productBrand
      }}</a>
    </div>
    <div class='displayRegularPrice'>
      <div class='displayPriceTitle'>
        Regular price:
      </div>
      <div>
        {{ product.productRegularPrice }}
      </div>
    </div>
    <div class='displayDiscountPrice'>
      <div class='displayPriceTitle'>
        Current price:
      </div>
      <div>
        <h3>{{ product.productPrice }}</h3>
      </div>
    </div>
    <div>
      {{ product.productStore }}
    </div>
  </div>
</div>
