.product-item-wrapper {
    height: 370px;
    width: 250px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px;
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    border: solid 1px transparent;
    transition: all 0.75s ease;
    font-size: 12px;
}
.textContainer {
    width: 224px;
}
table {
    width: 100%;
}
.heartEmpty{
    position: absolute;
    background-image: url(../../../icons8-heart-50.png);
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    z-index: 20;
    background-size: contain;
}

.favButton {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 10px;
    right: 10px;
    z-index: 20;
    background-size: contain;
    border: none;
    background: none;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
.imgContainer {
    height: 220px;
    width: 220px;
    position: relative;
    margin-top: 5px;  
    border: 2px solid palevioletred;
    overflow: hidden;
}
.imgContainer img{
    height: 220px;
    width: 220px;
    object-position: center;
    object-fit: cover;
    transition: all 0.5s ease;
}
h4 {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.rowMulti {
    width: 25%;
}

.product-item-wrapper a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

a h4:hover {
    color: aquamarine;
}

.product-item-wrapper:hover {
    border: solid 1px #F1C40F;
}
 .imgContainer::after {
    content: 'See product';
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.54);
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 0.5s ease;
    opacity: 0;
    font-size: 15px;
    font-weight: bold;
    color: palevioletred;
}
.imgContainer:hover .favButton, .heartEmpty, .heartFilled, .imgContainer:hover::after {
    visibility: visible;
    opacity: 1;
}

.imgContainer:hover .productImg{
    transform: scale(1.1);
}

div {
    width: 100%;
}

div a, td a {
    color: palevioletred;
    align-items: flex-start !important;
}
div a:hover, td a:hover {
    color: whitesmoke
}

.heartFilled {
    position: absolute;
    background-image: url(../../../icons8-heart-filled-50.png);
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    z-index: 20;
    background-size: contain;
}



@media screen and (max-width: 700px){
    .product-item-wrapper {
        height: auto;
        width: 110px;
        font-size: 9px;
        justify-content: flex-start;
        
    }
    .imgContainer{
        margin-bottom: 5px;
        height: 100px;
        width: 100px;
    }
    .imgContainer img{
        height: 100px;
        width: 100px;
    }
    .textContainer {
        width: 104px;
    }
    .imgContainer::after{
        height: 100px;
        width: 100px;
    }
    .favButton, .heartEmpty, .heartFilled {
        height: 18px;
        width: 18px;
        visibility: visible;
        opacity: 1;
    }
}