.searchForm {
    display: flex;
    width: 100%;
    margin: 0 15px;
    position: relative;
}
.searchForm input[type='text'] {
    width: 40%;
    height: 40px;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid #F1C40F;
    color: whitesmoke;
    padding-left: 40px;
    font-size: 18px;
    transition: width 0.5s ease;
    font-family: 'Roboto Mono', monospace;
}


.searchForm input[type='text']:focus {
    border-bottom: 2px solid #F1C40F;
    width: 100%;
    outline: none;
}

.icon {
    position: absolute;
    background-image: url(../../../icons8-search-24.png);
    height: 24px;
    width: 24px;
    top: 10px;
    left: 10px;
}